.App {
  display: flex;
  min-height: 100vh;
  background-color: #1a1a1a;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  background-color: #1a1a1a;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 10px;
  }
}
